{% extends 'chat/base/base.html' %}
{% load static request_tags %}

{% block title %}Chat{% endblock %}

{% block styles %}
    <style>
    {% include 'chat/base/chat_style.css' %}
    </style>
{% endblock %}

{% block content %}
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" width="250px" src="{{ user.profile.profile_picture.url }}" class="online" alt="" />
                    <p>{{ user.username }}</p>
                    
                </div>
            </div>
            <div id="contacts">
                <ul>
                    {% for friend in friends %}
                    <li onclick="chat_private('{{friend.username}}');" class="contact {% if friend.username in request.path_info %}active{% endif %}">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="{{ friend.profile.profile_picture.url }}" width="50px" alt="{{ user.username }}" />
                            <div class="meta">
                                <p class="name">{{ friend.username }}</p>
                                <p class="preview">{% get_last_message user friend %}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="{{ friend.profile.profile_picture.url }}" width="50px" alt="" />
                <p>{{ friend.username }}</p>
                <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul>
                    {% for msg in messages %}
                    <li class="{% if msg.author.username == user.username %}replies{% else %}sent{% endif %}">
                        <img src="{{ msg.author.profile.profile_picture.url }}" alt="" />
                        <p>{{ msg.content }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                <input type="text" placeholder="Write your message..." />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button onclick="sendMessage()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'chat/js/private_chat.js' %}"></script>
{% endblock %}