{% extends 'chat/base/base.html' %}

{% block styles %}
    {% include 'chat/base/styles.css' %}
{% endblock %}

{% block title %} chat | {{user.username}}{% endblock %}


{% load static request_tags %}

{% block content %}

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{{ user.profile.profile_picture.url }}" class="online" alt="" />
                <p>{{ user.username }}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                    </ul>
                </div>
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross" />
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81" />
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross" />
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>
                {% for friend in friends %}
                <li class="contact">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="{{ friend.profile.profile_picture.url }}" alt=""/>
                        <div class="meta">
                            <p class="name">{{ friend }}</p>
                            {% if friend|get_last_message %}
                            <p class="preview">{{ friend|get_last_message }}</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>{{ friend }}</p>
            <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
        <div class="messages">
            <ul>
                {% if messages %}
                    {% for msg in messages %}
                        {% if msg.author == user %}
                        <li class="sent">
                            <img src="{{ msg.author.profile.profile_picture.url }}" alt=""/>
                            <p>{{ msg.content }}</p>
                        </li>
                        {% else %}
                        <li class="replies">
                            <img src="{{ msg.author.profile.profile_picture.url }}" alt=""/>
                            <p>{{ msg.content }}</p>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
            <input type="text" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'chat/js/private_chat.js' %}"></script>
{% endblock %}