{% extends 'base/index.html' %}
{% load static request_tags %}
{% block title %}Users | {{request.GET.q}}{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
      <ul>
        {% if users %}
        {% for person in users %}
            {% get_status_of_friend user person.user as status %}
            <li class="list-group-item">
            <img class="img-thumbnail" width="50px" src="{{ person.profile_picture.url }}" alt="{{person.username}}">
            <a style="text-decoration:none" class="badge bg-primary" href="{% url 'user' person.user.username %}">{{ person.user.username }}</a> |

            {% if status == 'friend' %}
            <!-- my friend -->
            <a style="text-decoration: none;" href="{% url 'chat_private' person.user.username %}" class="badge bg-success">Chat</a>
            <button onclick="remove_friend('{{person}}')" class="badge bg-warning">Remove</button>
            {% else %}
            <!-- not my friend -->
            <button class="badge bg-danger">Not friend</button>
            </li>
            {% endif %}
        {% endfor %}
        {% else %}
        <span class="alert alert-danger w-100">There are no user with <strong>'{{request.GET.q}}'</strong></span>
        {% endif %}
      </ul>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'chat/js/request.js' %}"></script>
<script src="{% static 'chat/js/friend.js' %}"></script>
{% endblock %}