{% extends 'base/index.html' %}
{% load static request_tags %}
{% block title %}Friends | {{username}}{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
      <ul>
        {% if has_friend %}
        {% for friend in friends %}
            {% get_status_of_friend user friend as status %}
            <li class="list-group-item">
            <img class="img-thumbnail" width="50px" src="{{ friend.profile.profile_picture.url }}" alt="">
            <a style="text-decoration:none" class="badge bg-primary" href="{% url 'user' friend.username %}">{{ friend.username }}</a> |
            {% if status == 'myself' %}
            <!-- my friend -->
            <button class="badge bg-info text-dark">Myself</button>
            {% elif status == 'friend' %}
            <!-- my friend -->
            <a style="text-decoration: none;" href="{% url 'chat_private' friend.username %}" class="badge bg-success">Chat</a>
            <button onclick="remove_friend('{{friend}}')" class="badge bg-danger">Remove</button>
            {% elif status == 'them_request' %}
            <!-- there is request from them to me -->
            <button onclick="accept_request('{{friend}}')" class="badge bg-success">accept</button>
            <button onclick="decline_request('{{friend}}')" class="badge bg-danger">decline</button>
            {% elif status == 'my_request' %}
            <!-- thers is request from me to them -->
            <button onclick="cancel_request('{{friend}}')" class="badge bg-danger">cancel request</button>
            {% else %}
            <!-- not my friend -->
            <button onclick="send_request('{{friend}}')" class="badge bg-warning text-dark">send friend request</button>
            </li>
            {% endif %}
        {% endfor %}
        {% else %}
        <span class="alert alert-danger w-100">There is no friend</span>
        {% endif %}
      </ul>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'chat/js/request.js' %}"></script>
<script src="{% static 'chat/js/friend.js' %}"></script>
{% endblock %}