{% load static %}
<!DOCTYPE html>
<html class=''>
    <head>
        <meta charset='UTF-8'>
        <meta name="robots" content="noindex">
        <link href='{% static "chat/css/fonts.css" %}' rel='stylesheet' type='text/css'>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'chat/bootstrap/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
        <script src="{% static 'chat/bootstrap/bootstrap.js' %}"></script>
        <script src="{% static 'chat/bootstrap/ajax.js' %}"></script>
        <script src="{% static 'chat/bootstrap/typekit.js' %}"></script>
        <script src="{% static 'chat/bootstrap/fa.js' %}"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        {% block styles %}
        {% endblock %}
    </head>

<body>
    {% block content %}
    {% endblock %}

    <script src='{% static "chat/bootstrap/jquery2-2.js" %}'></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>